---
- name: Remove GRUB_CMDLINE_LINUX_DEFAULT option in grub conf
  lineinfile:
    dest: /etc/default/grub
    regexp: "^GRUB_CMDLINE_LINUX_DEFAULT="
    state: absent

- name: Make sure GRUB_CMDLINE_LINUX starts with a space
  lineinfile:
    dest: /etc/default/grub
    regexp: "^(GRUB_CMDLINE_LINUX=)\"([ ]*)(.*)\""
    line: '\1" \3"'
    state: present
    backrefs: yes

- name: Grub conf
  lineinfile:
    dest: /etc/default/grub
    regexp: "^(GRUB_CMDLINE_LINUX=(?!.* {{ item }})\"[^\"]*)(\".*)"
    line: '\1 {{ item }}\2'
    state: present
    backrefs: yes
  notify: Update Grub
  with_items:
    - ipv6.disable=1
    - efi=runtime
    - fsck.mode=force
    - fsck.repair=yes
    - "{{ grub_append | default([]) }}"

- name: Grub conf osprober
  lineinfile:
    dest: /etc/default/grub
    regexp: '^#?GRUB_DISABLE_OS_PROBER=.*$'
    line: 'GRUB_DISABLE_OS_PROBER=true'
    state: present
  notify: Update Grub

