---
- name: Stop and Disable NetworkManager
  service:
    name: NetworkManager
    state: stopped
    enabled: no
  register: centos_nm_stop

- name: Start and Enable systemd-networkd
  service:
    name: systemd-networkd
    state: started
    enabled: yes
  register: centos_sd_start

- name: Set need_reboot to true if any change was made
  set_fact:
    need_reboot: true # noqa: var-naming[no-role-prefix]
  when: centos_nm_stop is changed or centos_sd_start is changed
