---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: debian 
    image: "geerlingguy/docker-debian12-ansible:latest"
    privileged: true
  - name: centos
    image: "quay.io/centos/centos:stream9"
    privileged: true



provisioner:
  name: ansible
  playbooks:
    prepare: prepare.yml
    converge: converge.yml
    verify: verify.yml

verifier:
  name: ansible

