---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    privileged: true

provisioner:
  name: ansible
  playbooks:
    prepare: prepare.yml
    converge: converge.yml
    verify: verify.yml

verifier:
  name: ansible

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    # - idempotence   	
    # Scenario sequence can be edited. Here, disable idempotence test. 
    # Job is not idempotent due to the fact that it wipe a directory and then copy files in it
    # An idempotent way is to assert that the config file is the only file in the repo
    - verify
    - cleanup
    - destroy

