[Unit]
Wants=libvirtd.service
After=libvirtd.service
{% if common_physical_machine_pacemaker_wants_virtqemud | default(false) %}
Wants=virtqemud.service
After=virtqemud.service
{% endif %}

[Install]
WantedBy=corosync.service

[Service]
ExecStartPre=/usr/bin/virsh list
TimeoutStopSec={{ pacemaker_shutdown_timeout | default("2min") }}
TimeoutStartSec=60s
